<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ title }} | Gnawnian Exchange{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="csrf-token" content="fBEPOAx9OzUkHHQJDhxYHHE8L0t5JHte9SwWS9YEU-3YlX4hBSwz-S-8"> -->

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/assets/reset.css">
    {% block head %}{% endblock %}
  </head>
  <body class="theme adaptive">
    <main>
      {% block content %}
        Placeholder
      {% endblock %}
    </main>
  </body>
</html>
