{% extends "app.html" %}

{% block title %}Items | Gnawnian Exchange{% endblock %}

{% block app_content %}
<div>
  <form action="/items"  method="post">
    <input type="text" class="input input--full" placeholder="Search for an item by name..." />
  </form>

  {% if items.len() > 0 -%}
  <ul class="ul ul--dashed">
      {% for item in items %}
        <li class="item_list__item">
          <a href="/items/{{ item.id }}" class="item_list__item__primary link">
            {{ item.name }}
          </a>
        </li>
      {% endfor %}
  </ul>
  {% else -%}
  <span>
    There's nothing here...
  </span>
  {% endif -%}
</div>
{% endblock %}
