{% extends "base.html" %}

{% block title %}
  {% call super() %}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/assets/style.css">
{% endblock %}


{% block content %}
  <div class="app_container">
    <nav class="app_nav">
      <div class="app_nav__primary">
        <a href="/" class="logo"><img src="/assets/logo.svg"/></a>
        <a href="/items">Items</a>
        <a href="/search">Mapping</a>
      </div>

      <div class="app_nav__secondary">
        {% match current_user %}
          {% when Some with (val) %}
            <a href="/inbox">Inbox (1)</a>
            <a href="/@{{ val.username }}">{{ val.username }}</a>
            <a href="/logout">Logout</a>

          {% when None %}
            <a href="/login">Login</a>
        {% endmatch %}
      </div>
    </nav>

    {% block app_content %}
    {% endblock %}

    <footer class="footer">
      <a class="footer__link" href="/">About</a>
      <a class="footer__link" href="/">Moderation log</a>
    </footer>
  </div>
{% endblock %}
