{% extends "base.html" %}

{% block title %}
  {% call super() %}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/assets/app.css">
{% endblock %}


{% block content %}
  <div class="app_container">
    <nav class="app_nav">
      <div class="app_nav__primary">
        <a href="/" class="logo"><img src="/assets/logo.svg"/></a>
        <a href="/items">Items</a>
        <a href="/search">Mapping</a>
      </div>

      <div class="app_nav__secondary">
        <a href="/inbox">Inbox (1)</a>
        <a href="/@sekun">sekun</a>
        <a href="/session/login">Login</a>
        <a href="/session/logout">Logout</a>
      </div>
    </nav>

    {% block app_content %}
    {% endblock %}

    <footer class="footer">
      <a class="footer__link" href="/">About</a>
      <a class="footer__link" href="/">Moderation log</a>
    </footer>
  </div>
{% endblock %}
