{% extends "app.html" %}

{% block title %}{{ item.name }} | Gnawnian Exchange{% endblock %}

{% block app_content %}
<div>
  <div class="item-details" style="">
    <div class="item-details__heading">
      {{ item.name }}
    </div>
    <div class="item-details__subheading">
      <span class=""><span id="last_price">220</span> SB</span>
      |
      <a class="link link--sm" href="/">Wiki</a>
      |
      <a class="link link--sm" href="/">MouseHunt Info Page</a>
    </div>
  </div>

  <div style="margin-top: var(--4); width: 100%;">
    <form
      id="item-order-form"
      action="/items/{{ item.id }}"
      method="post"
    >
      <div>
        <div>
          <label class="label label--xs label--semibold" for="cost">Cost (SB+)</label>
          <input
            class="input input--full"
            name="cost"
            type="text"
            inputmode="numeric"
            pattern="^\d*(\.\d{0,2})?$"
            placeholder="How many SB+ per item?"
            required
          />
        </div>

        <div>
          <label class="label label--xs label--semibold" for="batchedby">Quantity</label>
          <input
            class="input input--full"
            name="quantity"
            type="number"
            step="2"
            min="2"
            placeholder="Item quantity"
            required
          />
        </div>

        <div>
          <label class="label label--xs label--semibold" for="kind">Order type</label>
          <select class="select select--full" for="kind" name="kind" required>
            <option disabled selected hidden>Select order type</option>
            <option value="Buy">BUY</option>
            <option value="Sell">SELL</option>
          </select>
        </div>
      </div>

      <button
        class="button button--full"
        type="submit"
        style="margin-top: var(--3);"
      >
        Create order
      </button>
    </.form>
  </div>

  <div id="pooled-item-listings">
    <div>
      {% include "buy_order_table.html" %}
    </div>

    <div>
      {% include "sell_order_table.html" %}
    </div>
  </div>
</div>
{% endblock %}
