<table class="table" cellspacing="0">
  <caption>
    <span class="tooltip" title="These are grouped SELL orders by amount per batch and cost, not individual SELL orders">
      Sell orders
    </span>
  </caption>
  <thead>
    <tr>
      <th scope="col">Quantity</th>
      <th scope="col">Cost</th>
    </tr>
  </thead>
  <tbody>
    {% for order in grouped_sell_orders %}
    <tr
      id="sell-1"
      data-type="BUY"
      data-cost=""
      data-batches=""
      data-batchedby="">
      <td scope="row">
        {{ order.batches * order.batchedby }}
      </td>

      <td scope="row">
        {{ order.cost_per_unit }} SB+
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if grouped_sell_orders.len() == 0 %}
<p style="text-align: center; margin: var(--1);">
  There are currently no sell orders
</p>
{% endif %}
