.site-footer {
  display: none;
  visibility: hidden;
}

.markdown-preview-view table {
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
}

.tree-item-self {
  padding: 0.5rem 1rem;
}
